* {
    outline: dashed 1px gray;
}

:root {
    --clr-main-background: #e2e7f0;
    --clr-sidebar-background: #3a8ed3;
    --clr-card-highlight: #ebb52e;
    --clr-shadow: #ccd1d8;
    --clr-button: #3a8ed3;
    --clr-search: #e2e7f0;
}

.header-icon {
    width: 25px;
}

.user-info-avatar {
    width: 40px;
}

.welcome-avatar {
    width: 80px;
}

.dashboard-icon {
    width: 30px;
}

.sidebar-icon {
    width: 30px;
}

.card-icon {
    width: 30px;
}

.trending-icon {
    width: 30px;
}