* {
    outline: dashed 1px gray;
}

.header-icon {
    width: 25px;
}

.user-info-avatar {
    width: 40px;
}

.welcome-avatar {
    width: 80px;
}

.dashboard-icon {
    width: 30px;
}

.navigation-icon {
    width: 30px;
}