* {
    /* outline: dashed 1px gray; */
}

:root {
    --clr-main-background: #e2e7f0;
    --clr-sidebar-background: #3a8ed3;
    --clr-card-highlight: #ebb52e;
    --clr-shadow: #ccd1d8;
    --clr-button: #3a8ed3;
    --clr-search: #e2e7f0;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(1000px, 5fr);
    grid-template-rows: 200px 1fr;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 40px;
}

.search-bar {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
}

.search-bar img {
    justify-self: start;
}

.search-bar input {
    appearance: none;
    background-color: var(--clr-search);
    border-radius: 20px;
    height: 30px;
    border: none;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    align-items: center;
    gap: 30px;
}

.header-icon {
    justify-self: end;
    width: 25px;
}

.user-info-avatar {
    justify-self: center;
    width: 50px;
}

.user-info span {
    font-weight: 700;
    font-size: 1.125rem;
}

.welcome {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
}

.welcome-avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    place-self: center;
    width: 80px;
}

/* .welcome div {
    place-self: center flex-start;
} */

.welcome-greeting {
    place-self: end start;
    font-weight: 700;
    font-size: 0.875rem;
}

.welcome-user {
    place-self: start;
    font-weight: 700;
    font-size: 1.5rem;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

button {
    display: inline-block;
    border: none;
    padding: 7px 0;
    margin: 0;
    text-decoration: none;
    background-color: var(--clr-button);
    color: white;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    width: 100px;
    border-radius: 20px;
}



.dashboard-icon {
    width: 30px;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.sidebar-icon {
    width: 30px;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.card-icon {
    width: 30px;
}

.trending-icon {
    width: 30px;
}